#item{
  width: 40%;
  height: 10cm;
  margin: 20px;
  border-radius: 15px;
  border: 2px solid gray;
  text-align: center;
  margin-left: 30%;
  margin-top: 5%;
}
.button{
    border-radius: 10px;
    border: 1px solid black;
    background-color: #F49A59;
}
.goback{
    margin-top: 55%;
}
