.nav{
  height: 75px;
  background-color: #FF740F;
}
.slogan{
  margin-left: 20px;
  margin-top: 15px;
} 
body {
  background: #007bff;
  background: linear-gradient(to right, #f5f7f9, #f2f5f7);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

/* .btn-primary {
  color: white;
  background-color: #FF740F;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
} */
#login{
  background-color: #f17f2c;
}
#google{
  background-color: #f17f2c;
}
.who{
  text-align: center;
  padding-bottom: 40px;
  padding-left: 10px;
}
.social{
  position: absolute;
  top: 95%;
  left: 1%;
  color: #FF995C;
}
a:link { text-decoration: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }